/*
cognome: Yang
Nome: Andrea
Matricola: 0001077398
Compito: 
*/
grant {
	permission java.net.SocketPermission "*:1024-65535", "connect, accept, resolve";
	permission java.net.SocketPermission "*:80", "connect";
};